<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hemorra — Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600;700&family=DM+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body class="page-body">

    <nav class="nav-landing">
    <img src="{{ url_for('static', filename='logo.png.jpeg') }}" alt="Hemorra" class="nav-logo-img">
    <div class="nav-links">
        <a href="/" class="nav-link">Home</a>
        <a href="/register" class="btn-nav-register">Become a Donor</a>
    </div>
    <div class="hamburger" id="hamburger" onclick="toggleMenu()">
        <span></span><span></span><span></span>
    </div>
</nav>
<div class="mobile-menu" id="mobile-menu">
    <a href="/">Home</a>
    <a href="/register" class="btn-nav-register">Become a Donor</a>
</div>

    <div class="page-container">
        <div class="page-form-box">
            <div class="page-form-header">
                {% if request.args.get('new') %}
                    <h2>Account Created! 🎉</h2>
                    <p>Login to get started as a donor</p>
                {% else %}
                    <h2>Welcome Back</h2>
                    <p>Login to your donor account</p>
                {% endif %}
            </div>

            {% if error %}
            <div class="error-message">{{ error }}</div>
            {% endif %}

            {% if success %}
            <div class="success-message">{{ success }}</div>
            {% endif %}

            <form method="POST">
                <div class="input-group">
                    <label>College Email</label>
                    <input type="email" name="email"
                        placeholder="yourname@college.edu" required>
                </div>

                <div class="input-group">
                    <label>Password</label>
                    <input type="password" name="password"
                        placeholder="Your password" required>
                </div>

                <button type="submit" class="btn-primary">
                    Login
                </button>
            </form>

            <p class="switch-link">New donor?
                <a href="/register">Register here</a>
            </p>
        </div>
    </div>

    <footer class="page-footer">🩸 Hemorra — Built for college communities</footer>

    <script>
function toggleMenu() {
    document.getElementById('hamburger').classList.toggle('open');
    document.getElementById('mobile-menu').classList.toggle('open');
}
</script>

</body>
</html>
